.lectureDetail_container {
    background: #ffffff;
    padding: 15px 20px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0px 5px rgba(0,0,0,0.2);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.lectureDetail__photo{
    width: 170px;
}

.lectureDetail__photo-container{
    overflow: hidden;
    max-height: 170px;
    width:170px;
}


.lectureDetail_slideshare{
    width:700px;
    height: 560px;
    padding-left: 50px;
}

.lectureDetail_about{
    padding-top: 15px;
    padding-bottom: 15px;
}


.lectureDetail__container_info{
    padding-bottom: 30px;    
}



.lectureDetail_lector-container {
    width: 170px;
    padding-right: 20px;
}

.lectureDetail_llink {
    padding-right: 20px;
    text-decoration: none;
}

