
.lectureDetail__photo{
    width: 170px;
}

.lectureDetail__photo-container{
    overflow: hidden;
    max-height: 170px;
    margin-bottom: 10px;
    width:170px;
}


.lectureDetail_slideshare{
    width:748px;
    height: 600px;
    /*padding-left: 50px;*/
}

.lectureDetail_about{
    padding-top: 15px;
    padding-bottom: 15px;
}


.lectureDetail__container_info{
    padding-bottom: 30px;    
}


.lectureDetail_lector-container {
    width: 170px;
    padding-bottom: 10px;
    text-align: center;
}

.lectureDetail_llink {
    padding-right: 20px;
    text-decoration: none;
    display: block;
}

.lectureDetail_vlink {
    display: block;
    margin-bottom: 5px;
}

.lectureDetail_links {
    border-left: 3px solid rgb(0,165,140);
    padding: 5px 10px;
}

.lectureDetail_lector-container:hover 
.lectureDetail__lector-name {
    text-decoration: underline;
}

    
    


