.lecturesPage__lectures {
    padding: 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.lecturesPage__lecture{
    background: #ffffff;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0px 5 rgba(0,0,0,0.1);
    box-shadow: 0 0px 5 rgba(0,0,0,0.1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(200,200,200,0.3); 
    padding: 15px;
    margin: 3px;
    float:left;
    width: 362px;
    height: 40px;
}

.lecture__title {
    text-decoration: none;
    font-size: 16px;
}


.lecture__lector-name {
    padding-top: 10px;  
    font-size: 11px; 
    vertical-align: bottom; 
}

.lecture__title {
    color: rgb(60,60,60);
}

.lecture__lector-link, 
.lecture__title-link{
    text-decoration: none;
}

.lecture__lector-link:hover, 
.lecture__title:hover {
    color: rgb(0,165,140);
}