@import url("reset.css");
@import url("footer.css");
@import url("header.css");
@import url("info.css");
@import url("studentPersonal.css");
@import url("lecturesPage.css");
@import url("lectureDetail.css");
@import url("peoplePage.css");
@import url("lectorDetail.css");
@import url("navMenu.css");

html {
    height: 100%;
    width: 100%;
    min-width: 900px;

}

body {
    font-family: Arial,Helvetica,sans-serif;
    background: rgb(245, 245, 245);
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.mainContent {
    margin-right: 30px;
    margin-left: 30px;
}

.classBook {
    padding-bottom: 10px; 
    float:left;  
    margin-right: 20px;
    margin-left: auto;
    margin-right: auto
}

.link {
	color: rgb(130, 130, 130);
}

.big_title {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.content{
    padding: 15px 20px;
    background: #ffffff;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 750px;
}

.twitter-timeline {
    height:  500px;
    width: 300px; 
}

.twitter__container {
    width:25%;
    float: left;
    padding-left: 30px;

}