.student {
    display: inline-block;
}


.student__container {
    background: #ffffff;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(200,200,200,0.3); 
    padding: 15px;
    margin: 3px;
}


.student__container:hover {
    -webkit-box-shadow: 0 0 10px rgba(255,204,0,0.5);
    -moz-box-shadow: 0 0 10px rgba(255,204,0,0.5);
    box-shadow: 0 0 10px rgba(255,204,0,0.5);
    border-color: rgba(255,224,0,1); 
    cursor: pointer;
}


.student__photo-container {
    overflow: hidden;
    width: 155px;
    height: 120px;
}


.student__photo {
    width: 170px;
    border: none;
}


.student__name-container {
    font-size: 12px;
    padding-top: 20px;
    background: #ffffff;
    color: rgba(100,100,100,1);
    line-height: 1.4em;
}

.student__name-container_name {
    font-size: 14px;
}

.student__name-container_city {
    color: rgb(150, 150, 150);
    font-size: 11px;
}

.student__link {
    text-decoration: none;
}