.personal__title {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 5px
}

.personal{
    display:table;
    position: relative;
    width: 100%;
}


.container_info_about {
    margin: 0 0 0 290px;
    /*position: relative;*/
    line-height: 1.4em;
    font-size: 14px;
}




.personal__container_info {
    float:left;
}


.personal__container_contacts{
    position: relative;
    clear: both;
    border-left: 3px solid rgb(255, 204, 0);
    padding: 15px 0 35px 15px;
    margin-top: 10px;
}

.container_info_photo {
    width: 270px;
    height: auto;
}

.photo_container {
    margin: 0 20px 0 0;
    max-height: 250px;
    overflow: hidden;
}

.list-item-link{
    float:left;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.icon_ya {
    background:url(../img/ya.png);
}

.icon_fb{
    background:url(../img/fb.png);
}

.icon_vk {
    background:url(../img/vk.png);
}

.icon_github {
    background:url(../img/gh.png);
}

.list_item {
    margin-top: 15px;
    font-size: 12px;
}

.personal__edit-button {
    /*display: none;*/
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../img/edit_button.png");
    right: 5px;
    top: 5px;
    opacity: 0.3;
}

.personal__edit-button:hover {
    /*display: none;*/
    cursor: pointer;
    opacity: 0.8;
}

