.studentPage {
    margin-top: 10px;
}

.studentPage__title  {
    font-size: 24px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.studentPage__students {
    float:left;
    margin-left: 5%;
    margin-right: 5%;
    padding: 7px 10px;
}

